display-drivers/CMakeCache.txt
display-drivers/CMakeFiles
display-drivers/Makefile
display-drivers/Config.h
display-drivers/cmake_install.cmake
python/*.pyc
display-drivers/libgu7000.a
display-drivers/vfd-display
